## Exploratory data analysis

### Approach

Let's start with a demographical question: do first babies tend to arrive late?

This simple question is not easy to answer from anecdotal evidence, and it is a good problem to start building our modeling toolkit with Python.

This toolkit includes techniques in data collection, descriptive statistics, exploratory data analysis, estimation, and hypothesis testing.

### Data source

We will use the National Survey of Family Growth (NSFG), which is stored in a `.csv` file stored in this repository. In order to use it, we will use a library called `pandas`.

`pandas` is one of the most useful Python packages for data analysis and modeling. Let's use it to read our input data:

In [3]:
import pandas as pd
df = pd.read_csv('.lesson/assets/FemPreg.csv')

In [4]:
df

,row_number,caseid,pregordr,howpreg_n,howpreg_p,moscurrp,nowprgdk,pregend1,pregend2,nbrnaliv,...,laborfor_i,religion_i,metro_i,basewgt,adj_mod_basewgt,finalwgt,secu_p,sest,cmintvw,totalwgt_lb
0,0,1,1,NaN,NaN,NaN,NaN,6.0,NaN,1.0,...,0,0,0,3410.389399,3869.349602,6448.271112,2,9,NaN,8.8125
1,1,1,2,NaN,NaN,NaN,NaN,6.0,NaN,1.0,...,0,0,0,3410.389399,3869.349602,6448.271112,2,9,NaN,7.8750
2,2,2,1,NaN,NaN,NaN,NaN,5.0,NaN,3.0,...,0,0,0,7226.301740,8567.549110,12999.542264,2,12,NaN,9.1250
3,3,2,2,NaN,NaN,NaN,NaN,6.0,NaN,1.0,...,0,0,0,7226.301740,8567.549110,12999.542264,2,12,NaN,7.0000
4,4,2,3,NaN,NaN,NaN,NaN,6.0,NaN,1.0,...,0,0,0,7226.301740,8567.549110,12999.542264,2,12,NaN,6.1875
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13588,13588,12571,1,NaN,NaN,NaN,NaN,6.0,NaN,1.0,...,0,0,0,4670.540953,5795.692880,6269.200989,1,78,NaN,6.1875
13589,13589,12571,2,NaN,NaN,NaN,NaN,3.0,NaN,NaN,...,0,0,0,4670.540953,5795.692880,6269.200989,1,78,NaN,NaN
13590,13590,12571,3,NaN,NaN,NaN,NaN,3.0,NaN,NaN,...,0,0,0,4670.540953,5795.692880,6269.200989,1,78,NaN,NaN
13591,13591,12571,4,NaN,NaN,NaN,NaN,6.0,NaN,1.0,...,0,0,0,4670.540953,5795.692880,6269.200989,1,78,NaN,7.5000
13592,13592,12571,5,NaN,NaN,NaN,NaN,6.0,NaN,1.0,...,0,0,0,4670.540953,5795.692880,6269.200989,1,78,NaN,7.5000